<!-- Left Social Sidebar -->
<div orientation="left" class="hidden lg:block fixed bottom-0 w-10 left-10 z-10 right-auto" data-aos="fade-up"
    data-aos-delay="1000">
    <ul class="flex flex-col items-center  m-0 p-0 after:content-[''] after:block after:w-px after:h-24 after:bg-slate">
        <li>
           
        </li>
        <li>
          
        </li>
    </ul>
</div>

<!-- Right Email Sidebar -->
<div class="hidden lg:block fixed bottom-0 right-10 z-10" data-aos="fade-up" data-aos-delay="1000">
    <div class="flex flex-col items-center after:content-[''] after:block after:w-px after:h-24 after:bg-slate">
        <a href="mailto:adhikarideepak719@gmail.com"
            class="text-slate p-1 hover:text-green-400 hover:-translate-y-1 transition-all duration-200 vertical-text">
            adhikarideepak719&#64;gmail.com
        </a>
    </div>
</div>